<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar >
      <ion-searchbar #palabra
      (keyup.enter)="busqueda(palabra.value)">
</ion-searchbar>
<ion-button color="danger" (click)="scanBRcode()" expand="block">
  Scan Barcode
</ion-button>
    </ion-toolbar>
  <ion-list>
     <ion-item *ngFor="let libro of libros" (click)="detalle(libro.isbn[1])">
        <ion-thumbnail slot="start">
          <img src="http://covers.openlibrary.org/b/isbn/{{libro.isbn[1]}}.jpg" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{libro.title}}</h3>
          <p>Autor: {{libro.author_name}} </p>
          <p>Año: {{libro.first_publish_year}}</p>
        </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
