<ion-header>
  <ion-toolbar>
    <ion-title>Currículum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-title>2019-Actualidad:</ion-title>
       <p>Desarrollador web.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-title>2017-2019:</ion-title>
       <p>Tecnico en Sistemas Microinformáticos Y Redes.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-title>2014-2017</ion-title>
       <p>Reparador de componentes electrónicos.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

