<ion-header>
  <ion-toolbar>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-card">
    <ion-card-header>
      <ion-card-subtitle>Información</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
     Aplicación desarrollada por Joaquín Gómez. A continuación puede consultar
     más informacion sobre el autor.
     <p><ion-icon name="book-outline" size="large"></ion-icon> <a class="link"[routerLink]="['/curriculum']">Currículum vítae</a></p>
     <p><ion-icon name="mail" size="large"></ion-icon> <a class="link" href="mailto:joaquingomezinfor@gmail.com"><b>Correo:</b>joaquingomezinfor@gmail.com</a></p>
     <p><ion-icon name="logo-twitter" size="large"></ion-icon> <a class="link" href="https://twitter.com/kinitto_"><b>Twitter:</b>@Twitter</a></p>
     <p><ion-icon name="call" size="large"></ion-icon> <a class="link" href="tel:666333999"><b>Teléfono:</b>666333999</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>
