.card-content-md p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: -23px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}
.boton {
  margin-bottom: 32px;
  margin-left: 20px;
  width: 70%;
  color: rgb(29, 25, 25);
}
.ion-card{
margin-left: 30px;
margin-right: 30px;

}

